includes:
    - phpstan-baseline.neon

parameters:
    level: 10
    paths:
        - src
        - config
    excludePaths:
        - ./*/*Test.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
